In [1]:
import requests
import io

from datetime import date, timedelta

url="https://covid.ourworldindata.org/data/ecdc/full_data.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
c.head(3)

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0

In [2]:
c.to_csv(f"AzureSC\\Base_Files\\full_data{date.today()}.csv")

In [3]:
data_load = pd.read_csv(f"AzureSC\\Pred\\predDf{date.today() - timedelta(days=1)}.csv", index_col=0)
data_load

,date,country,total_cases_predict,total_cases_real,total_deaths_predict,total_deaths_real,error_abs_cases,error_abs_deaths
0,2020-04-12,France,97875.0,0.0,15087.0,0.0,0.0,0.0
0,2020-04-12,China,83280.0,0.0,3344.0,0.0,0.0,0.0
0,2020-04-12,Italy,156162.0,0.0,20006.0,0.0,0.0,0.0
0,2020-04-12,Spain,165451.0,0.0,16796.0,0.0,0.0,0.0
0,2020-04-12,United States,562387.0,0.0,22633.0,0.0,0.0,0.0
0,2020-04-12,World,1828985.0,0.0,115446.0,0.0,0.0,0.0

In [4]:
def Eval(c,data_load,country):
    df = c
    df = df[df['location'].isin([f"{country}"])]
    sle = df.iloc[-1]
    v0 = sle["date"]
    v1 = sle["total_cases"]
    v2 = sle["total_deaths"]
    
    res_tempo = data_load[data_load['country'].isin([f"{country}"])]
    rez1 = res_tempo.loc[0,"total_cases_predict"]
    rez2 = res_tempo.loc[0,"total_deaths_predict"]
    
    errorCase1 = rez1-v1
    errorCase2 = rez2-v2

    follow_df = pd.DataFrame()
    follow_df.loc[0,"date"] = v0
    follow_df.loc[0,"country"] = country
    follow_df.loc[0,"total_cases_predict"] = rez1
    follow_df.loc[0,"total_cases_real"] = v1
    follow_df.loc[0,"total_deaths_predict"] = rez2
    follow_df.loc[0,"total_deaths_real"] = v2
    follow_df.loc[0,"error_abs_cases"] = errorCase1
    follow_df.loc[0,"error_abs_deaths"] = errorCase2
    
    return follow_df

In [5]:
follow_df1 = Eval(c,data_load,"France")
follow_df2 = Eval(c,data_load,"China")
follow_df3 = Eval(c,data_load,"Italy")
follow_df4 = Eval(c,data_load,"Spain")
follow_df5 = Eval(c,data_load,"United States")
follow_df6 = Eval(c,data_load,"World")

In [6]:
frames = [follow_df1,follow_df2,follow_df3,follow_df4,follow_df5,follow_df6]
rapport = pd.concat(frames)
rapport

,date,country,total_cases_predict,total_cases_real,total_deaths_predict,total_deaths_real,error_abs_cases,error_abs_deaths
0,2020-04-13,France,97875.0,95403.0,15087.0,14393.0,2472.0,694.0
0,2020-04-13,China,83280.0,83209.0,3344.0,3345.0,71.0,-1.0
0,2020-04-13,Italy,156162.0,156363.0,20006.0,19901.0,-201.0,105.0
0,2020-04-13,Spain,165451.0,166019.0,16796.0,16972.0,-568.0,-176.0
0,2020-04-13,United States,562387.0,557571.0,22633.0,22108.0,4816.0,525.0
0,2020-04-13,World,1828985.0,1807308.0,115446.0,113513.0,21677.0,1933.0

In [7]:
rapport.to_csv(f"AzureSC\\Rapport\\rap{date.today()}.csv")