In [1]:
import requests
import io

from datetime import date, timedelta

url="https://covid.ourworldindata.org/data/ecdc/full_data.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
c.head(3)

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0

In [2]:
c.to_csv(f"AzureSC\\Base_Files\\full_data{date.today()}.csv")

In [3]:
data_load = pd.read_csv(f"AzureSC\\Pred\\predDf{date.today() - timedelta(days=1)}.csv", index_col=0)
#data_load = pd.read_csv(f"Pred\\predDf2020-03-28.csv", index_col=0)
data_load

,date,country,total_cases_predict,total_cases_real,total_deaths_predict,total_deaths_real,error_abs_cases,error_abs_deaths
0,2020-04-05,France,71091.0,0.0,6374.0,0.0,0.0,0.0
0,2020-04-05,China,82755.0,0.0,3335.0,0.0,0.0,0.0
0,2020-04-05,Italy,129280.0,0.0,16033.0,0.0,0.0,0.0
0,2020-04-05,Spain,131279.0,0.0,12536.0,0.0,0.0,0.0
0,2020-04-05,United States,349913.0,0.0,10219.0,0.0,0.0,0.0

In [4]:
def Eval(c,data_load,country):
    df = c
    df = df[df['location'].isin([f"{country}"])]
    sle = df.iloc[-1]
    v0 = sle["date"]
    v1 = sle["total_cases"]
    v2 = sle["total_deaths"]
    
    res_tempo = data_load[data_load['country'].isin([f"{country}"])]
    rez1 = res_tempo.loc[0,"total_cases_predict"]
    rez2 = res_tempo.loc[0,"total_deaths_predict"]
    
    errorCase1 = rez1-v1
    errorCase2 = rez2-v2

    follow_df = pd.DataFrame()
    follow_df.loc[0,"date"] = v0
    follow_df.loc[0,"country"] = country
    follow_df.loc[0,"total_cases_predict"] = rez1
    follow_df.loc[0,"total_cases_real"] = v1
    follow_df.loc[0,"total_deaths_predict"] = rez2
    follow_df.loc[0,"total_deaths_real"] = v2
    follow_df.loc[0,"error_abs_cases"] = errorCase1
    follow_df.loc[0,"error_abs_deaths"] = errorCase2
    
    return follow_df

In [5]:
follow_df1 = Eval(c,data_load,"France")
follow_df2 = Eval(c,data_load,"China")
follow_df3 = Eval(c,data_load,"Italy")
follow_df4 = Eval(c,data_load,"Spain")
follow_df5 = Eval(c,data_load,"United States")

In [6]:
frames = [follow_df1,follow_df2,follow_df3,follow_df4,follow_df5]
rapport = pd.concat(frames)
rapport

,date,country,total_cases_predict,total_cases_real,total_deaths_predict,total_deaths_real,error_abs_cases,error_abs_deaths
0,2020-04-06,France,71091.0,70478.0,6374.0,8078.0,613.0,-1704.0
0,2020-04-06,China,82755.0,82642.0,3335.0,3335.0,113.0,0.0
0,2020-04-06,Italy,129280.0,128948.0,16033.0,15889.0,332.0,144.0
0,2020-04-06,Spain,131279.0,130759.0,12536.0,12418.0,520.0,118.0
0,2020-04-06,United States,349913.0,337635.0,10219.0,9647.0,12278.0,572.0

In [7]:
rapport.to_csv(f"AzureSC\\Rapport\\rap{date.today()}.csv")